{% extends 'Base.html' %}
{% load static %}

{% block body %}

<div class="container-fluid bg-dark" style="height: 50vh; position: relative; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
<div class="inner_contact_head">

    <h2 style="position: absolute;left: 50%;transform: translate(-50%, 0); bottom: 2rem; font-size: 3.5rem;" class="text-light text-center">Hi, 🖐 we are <br> <span class="text-primary"> AlgoN.</span>  <br> <button class="button btn btn-primary mt-1">Let's Talk</button>  </h2>
</div>
</div>
<div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <h1 class="text-secondary text-center" >Please submit your query</h1>
    <!-- name , email , contact number , years of trading experience , whatsapp number , country -->
    <form class="form" action="{% url 'contact_us' %}" method="post" >
  {% csrf_token %}
<input type="text" class="form-control" name="c_name" required placeholder="John Doe "> <br>
<input type="email" class="form-control" name="c_email" required placeholder="Johndoe@gmail.com"> <br>
<input type="number" class="form-control" name="c_number" required placeholder="+91-7008855555 "> <br>
<input type="number" class="form-control" name="c_experience" required placeholder="Years of trading experience"> <br>
<input type="number" class="form-control" name="c_wnumber" required placeholder="+91-4659879651"> <br>


<select name="c_country" id="c_country" class="form-control">
<optgroup label="--Select your country please--">
    <option value="India">India</option>
    <option value="UK">UK</option>
    <option value="USA">USA</option>
    <option value="UAE">UAE</option>
</optgroup>
</select>
<br>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Share your query details</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="c_message"></textarea>
  </div><br>

<button class="button btn btn-outline-primary">Send message</button>
    </form>
 

</div>

{% endblock body %}


