


  {% extends 'Base.html' %}
{% block title %}Reset password{% endblock title %}
{% block body %}
{% load socialaccount %}

<style>
  .btn-primary{
    --bs-btn-bg: #04275d;
  }
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #042452;
    border-color: #021a3d;
}


</style>
<section class="demo_2 demo_3 banner_section">
<div class="container "  style="
position: relative;
margin-top: -3rem;
z-index: 1;
">
    
    <div class="row" style="justify-content: center;">
     <div class="col-4  " style="width: 28rem;">

      <form action=" {% url 'reset_password' %} " method="post" novalidate class="shadow p-5 needs-validation" id="login_alignments" style="     display: flex;
      background: white;
      flex-direction: column;
      border-radius: 10px;">
      
      <h1 class="display-5 text-primary m-0 text-center mb-3">AlgoN</h1>

        {% csrf_token %}
          <input type="email" name="remail" id="remail" class="form-control" required placeholder="Enter you registered email please"> <br>
          <input type="submit" class="button btn btn-warning" value="Send email for resetting password">
        
        



      </form>
     </div>
    </div>
   </div>
  </section>
  <script>

    (() => {
      'use strict'
      
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')
      
      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
      
        form.classList.add('was-validated')
      }, false)
      })
      })()

  </script>
{% endblock body %}